{% extends 'html/base.html' %}
{% block content%}
{% load static%}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/styles/port.css' %}">
    <title>Site portifólio(Guilherme Dutra)</title>
</head>
<body>
    <div class="conteiner">
        <div class="buscar">
            <form action="{% url 'buscar' %}">
                <input class="barra-buscar" placeholder="Buscar" name="buscar">
            </form>
        </div>
    </div>
    <section class="projetos">
        {% if cards %}
        {% for projeto in cards %}
        <div class="projeto">
            <a href="{% url 'projeto' projeto.id %}" ><img src="{{ projeto.foto.url }}" class="imgprojeto">
            <h2>{{ projeto.nome }}</h2></a>
            <a href="{% url 'projeto' projeto.id %}"><p class="lingua">{{ projeto.linguagem }}</p></a>
        </div>
        {% endfor %}
        {% else %}
        <p>O projeto não foi encontrado</p>
        {% endif %}
    </section>
    {% endblock %}